[submodule "MAGE/vendor/spdlog"]
	path = MAGE/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "MAGE/vendor/GLFW"]
	path = MAGE/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "MAGE/vendor/imgui"]
	path = MAGE/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "MAGE/vendor/glm"]
	path = MAGE/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "MAGE/vendor/hasl"]
	path = MAGE/vendor/hasl
	url = https://github.com/Hayden-Allen/hasl.git
